.cornerTopLeft {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	top: -10px;
	left: -10px;
}

.cornerTopCenter {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	top: -10px;
	left: 50%;
}

.cornerTopRight {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	top: -10px;
	left: '';
	right: -10px;
}

.cornerRightCenter {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	top: 50%;
	left: '';
	right: -10px;
}

.cornerBottomLeft {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	top: '';
	bottom: -10px;
	left: -10px;
}

.cornerBottomCenter {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	inset: '' '' -10px 50%;
}

.cornerBottomRight {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	inset: '' -10px '' -10px;
}

.cornerLeftCenter {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid #2a39b8;
	z-index: 100;
	inset: 50% '' '' -10px;
}
