.slideList {
	width: 25.691248287%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.slideList::-webkit-scrollbar {
	display: none;
}

.slideList__objs {
	width: 100%;
	height: 107%;
	max-height: 40rem;
	display: grid;
	position: relative;
	justify-content: center;
	grid-auto-flow: row;
	overflow-y: auto;
}

.slideList__objs::-webkit-scrollbar {
	width: 15px;
}

.slideList__objs::-webkit-scrollbar-track {
	background-color: #fff;
	border: 1px solid #2a39b8;
	border-radius: 10px;
}

.slideList__objs::-webkit-scrollbar-thumb {
	background-color: #2a39b8;
	border-radius: 20px;
	border: 1px solid #2a39b8;
}

.wrapper_button_add_slide {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 6.021962451%;
	position: sticky;
	top: 0px;
	z-index: 10;
}

.button_add_slide {
	width: 71.180710028%;
}
