.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: #d9d9d9;
	border: 2px solid rgb(0 0 0);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	right: -250px;
}

.sidebar_open {
	right: 0;
}
