.slide {
	width: 16vw;
	height: 9vw;
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
}

.slide_objs {
	width: 100%;
	height: 100%;
	background-color: #d9d9d9;
	position: relative;
	flex-shrink: 0;
}

.slide__seqNum {
	font-size: 35px;
}
