.wrapper_slide {
	margin-bottom: 5.936832106%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	width: 16vw;
	height: 9vw;
	min-height: 9vw;
}

.slide {
	width: 98%;
	height: 98%;
	position: relative;
	border-radius: 10px;
	border: 1.5px solid #9b9b9b;
	top: -1px;
}

.slide_selected {
	outline: 3px solid #2a39b8;
}

.slide_objs {
	width: 100%;
	height: 100%;
	background-color: #d9d9d9;
	position: relative;
	flex-shrink: 0;
}

.slide__seqNum {
	font-size: 35px;
}
