.wrapper_workspace {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.workspace {
	width: 93.142740924%;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.visble_workspace {
	background-color: #d9d9d9;
	width: 89.0485969%;
	height: 36.787028074vw;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid black;
}

.wrapper_workspace__background {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 11.397214014%;
	width: 100%;
}

.group_buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 12%;
}

.background__button {
	border-radius: 20px;
	width: 100%;
	padding: 5% 2%;
}

.button_text {
	font-size: 30px;
	font-weight: 500;
	width: 100%;
}
